{
    "presets": ["env"],
    "plugins": [
        ["module-resolver", {
            "root": ["./public/js/"],
            "alias": {
                "@": "./public/js/"
            }
        }]
    ]
}